{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{{ api.title }}</title>
  <link rel="icon" href="{% static 'ninja/favicon.svg' %}" type="image/svg+xml">
  <link rel="icon" href="{% static 'ninja/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'ninja/swagger-ui.css' %}">
  <link rel="stylesheet" href="/static/swagger/swagger-dark.css" media="(prefers-color-scheme: dark)">
</head>
<body>
  <div id="swagger-ui"></div>
  <script src="{% static 'ninja/swagger-ui-bundle.js' %}"></script>
  <script>
    window.onload = function() {
      SwaggerUIBundle({
        url: "/api/v1/openapi.json",
        dom_id: "#swagger-ui",
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
        deepLinking: true,
        docExpansion: "list",
        defaultModelsExpandDepth: 1
      });
    };
  </script>
</body>
</html>
